@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100; /* Dark background and light text */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  @apply font-mono text-sm text-gray-400; /* Monospace font for code and small gray text */
}

*,
*::before,
*::after {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width/height */
}

a {
  @apply text-indigo-600; /* Tailwind color for links */
  transition: color 0.3s ease;
}

a:hover {
  @apply text-indigo-400; /* Darker shade of blue for hover */
}
